*.DS_Store
/.CFUserTextEncoding
/.IdentityService/
/.ServiceHub/
/.Trash/
/.ansible/
/.ansible_galaxy
/.aspnet/
/.aws/
/.azure/
/.bash_history
/.bash_profile
/.bash_sessions/
/.boto
/.bundle/
/.caa/
/.cache/
/.clojure/
/.conda/
/.config/
/.cups/
/.dlv/
/.docker/
/.dotfiles/
/.dotnet/
/.dropbox/
/.eclipse/
/.electron/
/.emulator_console_auth_token
/.gem/
/.gemrc
/.glide/
/.gnupg/
/.gradle/
/.helm/
/.history
/.httpie/
/.ipython/
/.irb_history
/.ivy2/
/.jenv/
/.jmc/
/.jssc/
/.jupyter/
/.kafkaesque/
/.kafkatool2/
/.keras/
/.kube/
/.lazarus/
/.lego/
/.lein/
/.lesshst
/.local/
/.m2/
/.matplotlib/
/.mc/
/.mono/
/.nbprofiler/
/.node-gyp/
/.node_repl_history
/.npm/
/.nuget/
/.openfaas/
/.org-timestamps/
/.packer.d/
/.parallel/
/.pgadmin/
/.profile
/.pylint.d/
/.pypirc
/.python_history
/.rbenv/
/.rnd
/.rubies/
/.sbt/
/.ssh/
/.streamline/
/.subversion/
/.templateengine/
/.terraform.d/
/.tldr/
/.tox/
/.vim/.netrwhist
/.vim/plugged/
/.viminfo
/.vscode/
/.vsts/
/.wget-hsts
/.wine/
/.yarnrc
/.yjp/
/.yosys_history
/.yosys_show.dot
/.yosys_show.dot.pid
/.zcompdump
/.zsh-update
/.zsh_history
/.zshrc.backup
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Parallels/
/Pictures/
/Projects/
/Public/
/PycharmProjects/
/Qt/
/RiderProjects/
/backup/
/files/
/go/
/hoard/
/mail/
/mtd/
/org/
/photos/
/proj/
/secrets/
/src/
