*.DS_Store
/.CFUserTextEncoding
/.IdentityService/
/.Trash/
/.ServiceHub/
/.ansible/
/.ansible_galaxy
/.aspnet/
/.aws/
/.azure/
/.bash_history
/.bash_profile
/.bash_profile-anaconda.bak
/.bash_sessions/
/.boto
/.bundle/
/.bzr.log
/.caa/
/.cache/
/.conda/
/.config/
/.cups/
/.dlv/
/.docker/
/.dotnet/
/.dropbox/
/.eclipse/
/.electron/
/.emacs.d/
/.emulator_console_auth_token
/.fdbcli_history
/.gem/
/.gemrc
/.glide/
/.gnupg/
/.hdfview2.13
/.helm/
/.history
/.httpie/
/.ipython/
/.irb_history
/.ivy2/
/.jenv/
/.jmc/
/.jssc/
/.jupyter/
/.kafkatool2/
/.kube/
/.lego/
/.lein/
/.lesshst
/.local/
/.m2/
/.matplotlib/
/.mc/
/.mono/
/.nbprofiler/
/.node-gyp/
/.node_repl_history
/.npm/
/.nuget/
/.openfaas/
/.oracle_jre_usage/
/.org-timestamps/
/.packer.d/
/.parallel/
/.pgadmin/
/.profile
/.pylint.d/
/.pypirc
/.python_history
/.rbenv/
/.rnd
/.roswell/
/.sbclrc
/.sbt/
/.serverless/
/.serverlessrc
/.slime-history.eld
/.slime/
/.spyder2-py3/
/.squirrel-sql/
/.ssh/
/.stage.cluster
/.streamline/
/.subversion/
/.templateengine/
/.terraform.d/
/.tldr/
/.tmux.conf
/.tox/
/.vim/.netrwhist
/.vim/plugged/
/.viminfo
/.vscode/
/.vsts/
/.wget-hsts
/.wine/
/.yarnrc
/.yjp/
/.yosys_history
/.yosys_show.dot
/.yosys_show.dot.pid
/.zcompdump
/.zsh-update
/.zsh_history
/.zshrc.backup
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Projects/
/Public/
/PycharmProjects/
/RiderProjects/
/go/
/mtd/
/org/
/proj/
/secrets/
